*{

    margin: 0;
    padding: 0;
}

div.header{

    background-color: #1f2937;
    color: white;
    height: 450px;
}

/* ---------------------------------header navigation bar------------------------------------- */
h2.title{

    font-size: 24px;
    padding-left: 120px;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items>a{
    width: auto;
    padding: 5px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    
}

a:hover{
    
    text-shadow: 2px 2px 6px rgb(255, 0, 179);
}

/* ---------------------------------header navigation bar------------------------------------- */

/* ---------------------------------header mid section------------------------------------- */
.header-mid-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.discription{

    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 50px;
    padding: 20px;
    padding-left: 80px;
    width: 150px;

}
.sub{

    color: white;
}

p.dis{

    text-align: left;
    width: 300px;
    font-size: 18px;

}

.sub{

    font-size: 48px;
    font-weight: bolder;

}


.pic-1{

    padding: 30px;
    padding-right: 100px;
}

button{

    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #3882f6;
    color: rgb(255, 255, 255);
    border-color: #3882f6 ;
}

button:hover{

    color: black;
    box-shadow: 1px 1px rgb(0, 0, 0);
}

/* ---------------------------------header mid section------------------------------------- */

/* ---------------------------------Web page Mid section------------------------------------- */

.mid-section{
    margin: 10px;
}

.title-2{

    display: inline;
    padding-left: 230px;
    color: #1f2937;
    font-size: 36px;
}
.item-container{


    display: flex;
    flex: 1;
    justify-content: space-around;
}

.item-pic{

    border: 2px solid #3882f6;
    margin: 50px;
    border-radius: 10px;
    padding: 2px;
}

.diss{

    color: black;
    text-align: center-;
    font-size: 15px;
}

.item1,.item2,.item3,.item4{

    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}


.quote-section{


    background-color: #e5e7eb;
    border-radius: 5px;
    text-align: center;
    padding: 100px;
    font-size: 36px;
    font-style: italic;
}


.bold{

    text-align: right;
    font-weight: bolder;
}


.contactus{

    padding-top: 40px;
    padding-bottom: 40px;
}

.blue-box{

    background-color: #3882f6;
    color: white;
    height: 100px;
}


.blue-text{

    padding:20px ;
    font-size: large;
}

.btn-2{
    float: right;
    box-shadow: none;

}

/* ---------------------------------Web page Mid section------------------------------------- */


.footer{

    background-color: #1f2937;
    height: 40px;

}

.footer-text{

    text-align: center;
    color: white;
}

